/* GENERAL STYLING */
* {
    box-sizing: border-box;
}

/* FONTS */

h1 {
    font-family: 'Amiri', serif;
    font-size: 36px;
    font-weight: 700;
    margin: 0px;
    color: hsl(0, 0%, 94%)
}

.h1Dark {
    font-family: 'Amiri', serif;
    font-size: 36px;
    font-weight: 700;
    margin: 0px;
    color: #0D151E;
}

h2 {
    font-family: 'Amiri', serif;
    font-size: 24px;
    font-weight: 700;
    margin: 0px;
    color: hsl(0, 0%, 94%)
}

h4 {
    font-family: 'Amiri', serif;
    font-size: 20px;
    font-weight: 700;
    margin: 0px;
    color: hsl(0, 0%, 94%)
}

.h4Dark {
    font-family: 'Amiri', serif;
    font-size: 20px;
    font-weight: 700;
    margin: 0px;
    color: #0D151E;
}

a {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0px;
}

.aDark {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0px;
    color: #0D151E;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
}

.pLight {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
    color: hsl(0, 0%, 94%);
}

.HEADLINE {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    letter-spacing: 0.9px;
    font-weight: 300;
    margin: 0px 0px 0px 10px;
    text-transform: uppercase;
    color: hsl(0, 0%, 94%);
}

/* NAVBAR */

.navbarBg {
    background: transparent;
}

.navbarTitleBg {
    padding: 20px;
    background: #0D151E;
    text-align: center;
}

.navbarTitleBg h2 {
    color: white;
}

.navbarLinks {
    padding: 20px;
}

.navLinks {
    text-decoration: none;
    list-style: none;
    margin: 0px;
    text-align: center;
}

.navLinks li {
    display: inline-block;
}

.navLinks li a {
    color: hsl(0, 0%, 94%);
    text-decoration: none;
    /* margin:0px 5px; */
}


/* INDEX ROW #1 */

.firstScreen {
    background-image: url("./Images/abstract_background.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}


.containerForm {
    margin-top: 100px;
    margin-bottom: 100px;
    background: #010914;
    padding: 30px;
}

hr {
    background-color: hsl(0, 0%, 94%);
    height: 4px;
    margin-bottom: 60px;
    width: 10%;
}

.form-control::-webkit-input-placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0px;
    color: hsl(0, 0%, 94%);
    opacity: 100%;
}

.form-group {
    margin-bottom: 40px;
}

.form-control {
    padding: 26px 20px;
    border: none;
    border-bottom: 2px solid #FE2F58;
    border-radius: 0px;
    background: #0D151E;
}

.input-group {
    height: 200px;
}

.btn {
    padding: 10px 40px;
    background: #FE2F58;
    border: none;
    border-radius: 30px;
}

.btn p {
    margin: 0px;
    font-weight: 900;
}

/* PORTFOLIO TITLE */

.pageTitle {
    margin-top: 100px;
}

.hrFullWidth {
    width: 100%;
    background-color: #0D151E;
}

.card-body {
    height: 300px;
    background-image: url("./Images/abstract_background.jpg");
    background-position: center;
    background-size: cover;
}

.content {
    position: absolute;
    bottom: 20px;
}

.rowMargin {
    margin-bottom: 30px;
}


/* ABOUT ME */


.aboutMe:fullscreen {
    background-color: red;
    width: 100vw;
    height: 100vh;
  }

.marginLeft {
    margin-left: 0px;
}

.marginLeft p {
    float: left;
}


.textWrap {
    float: left;
    margin: 10px 30px 10px 0px;
    width: 350px;
    height: 275px;
}

.noPaddingMargin {
    padding: 0px;
    margin: 0px;
}